parameters:
  paths:
    - app
  level: 5
  treatPhpDocTypesAsCertain: false
  tmpDir: storage/framework/cache/phpstan

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
    - identifier: missingType.iterableValue
