includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
  level: 5
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
  tmpDir: /tmp/phpstan
